In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Tweets.csv")

In [3]:
df

,textID,text,selected_text,sentiment
0,cb774db0d1,"I`d have responded, if I were going","I`d have responded, if I were going",neutral
1,549e992a42,Sooo SAD I will miss you here in San Diego!!!,Sooo SAD,negative
2,088c60f138,my boss is bullying me...,bullying me,negative
3,9642c003ef,what interview! leave me alone,leave me alone,negative
4,358bd9e861,"Sons of ****, why couldn`t they put them on t...","Sons of ****,",negative
...,...,...,...,...
27476,4eac33d1c0,wish we could come see u on Denver husband l...,d lost,negative
27477,4f4c4fc327,I`ve wondered about rake to. The client has ...,", don`t force",negative
27478,f67aae2310,Yay good for both of you. Enjoy the break - y...,Yay good for both of you.,positive
27479,ed167662a5,But it was worth it ****.,But it was worth it ****.,positive
27480,6f7127d9d7,All this flirting going on - The ATG smiles...,All this flirting going on - The ATG smiles. Y...,neutral

In [4]:
#!pip install -q transformers

In [5]:
from transformers import pipeline
sentiment_pipeline = pipeline("sentiment-analysis")
data = ["I love you", "I hate you"]
sentiment_pipeline(data)

2023-06-06 15:59:30.550910: I tensorflow/core/util/port.cc:110] oneDNN custom operations are on. You may see slightly different numerical results due to floating-point round-off errors from different computation orders. To turn them off, set the environment variable `TF_ENABLE_ONEDNN_OPTS=0`.
2023-06-06 15:59:30.599346: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 AVX512F AVX512_VNNI FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.
2023-06-06 15:59:31.294715: W tensorflow/compiler/tf2tensorrt/utils/py_utils.cc:38] TF-TRT Warning: Could not find TensorRT
No model was supplied, defaulted to distilbert-base-uncased-finetuned-sst-2-english and revision af0f99b (https://huggingface.co/distilbert-base-uncased-finetuned-sst-2-english).
Using a pipeline without specifying a model name and revision in production is not recommended.

[{'label': 'POSITIVE', 'score': 0.9998656511306763},
 {'label': 'NEGATIVE', 'score': 0.9991129040718079}]

In [7]:
df = pd.read_csv('sampled_df.csv')

/tmp/ipykernel_143627/4137507834.py:1: DtypeWarning: Columns (4,5,7,12) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('sampled_df.csv')

In [8]:
df.head()

,user_name,user_location,user_description,user_created,user_followers,user_friends,user_favourites,user_verified,date,text,hashtags,source,is_retweet,sentiment,sentiment_X,scores_X
0,British Landlords Association (The BLA),United Kingdom,British Landlords Association -The BLA a FREE ...,2015-07-13 10:44:04,13360,2337,12440.0,False,2020-07-26 06:55:54,The latest The British Landlord Association Da...,NaN,Paper.li,False,neu,LABEL_2,0.694391
1,Mo Eco Devo,"Jefferson City, MO",Helping create opportunities for Missourians t...,2009-10-01 18:28:54,4082,531,1360.0,True,2020-08-18 18:02:45,#COVID19 has affected business owners and work...,"['COVID19', 'MO']",Hootsuite Inc.,False,neu,LABEL_1,0.547417
2,KYT,"Thane, India","From the house of Thanevaibhav, Thane district...",2016-11-02 16:45:08,239,14,168.0,False,2020-07-25 05:09:23,July 24: #Thane city #COVID19 update\nNew case...,"['Thane', 'COVID19']",Twitter Web App,False,neu,LABEL_1,0.696261
3,Dr. Wolfgang H Thome,Germany,"Publisher of ATCNews, Africa's largest publica...",2010-04-20 06:38:31,11759,812,45496.0,False,2020-07-27 03:03:04,#COVID19\nGlobal overnight developments from 2...,['COVID19'],Twitter Web App,False,neu,LABEL_1,0.644444
4,Belinda Hayes,Melbourne,Communicating the amazing stories from @monash...,2009-08-27 07:28:18,478,720,217.0,False,2020-08-04 06:39:22,Theatre can respond to the gendered impacts of...,['COVID19'],Hootsuite Inc.,False,neu,LABEL_1,0.754824